<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.Alarma_Estudiantil">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher33"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher33_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Alarma_Estudiantil">
        <activity android:name="com.example.Alarma_Estudiantil.MemoryChallenge"></activity>
        <activity android:name="com.example.Alarma_Estudiantil.QuizChallenge" />
        <activity android:name="com.example.Alarma_Estudiantil.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name="com.example.Alarma_Estudiantil.AlarmActivity" />

        <receiver android:name="com.example.Alarma_Estudiantil.MyReceiver" />

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
    </application>

</manifest>